
{% extends 'layout/base.html' %}


{% block 'title' %}
    Contactos
{% endblock  %}
{% load static %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock 'styles' %}
    

{% block 'content' %}
<div class = 'alert'>
    
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <li {% if message.tags %} class="alert-link"{% endif %}>{{ message }}</li>
    </div>
    {% endfor %}
</ul>
{% endif %}
</div>


<span class="opc"> <a href="{% url 'contacto'%}">Volver atras </a> </span>

<form action="{% url 'contacto_edit' id=id %}" method="POST">
    {% csrf_token %}
    
<table > 
    {{form.as_table}} 
</table>

<div class="btn-wrapper">

<input type="submit" value="Enviar " class="btn-send" />
</div>
</form>

{% endblock  %}
