
{% extends 'layout/base.html' %}


{% block 'title' %}
    Crear Tarea
{% endblock  %}
{% load static %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock 'styles' %}
    

{% block 'content' %}

<span class="opc"> <a href="{% url 'todo'%}">Volver atras </a> </span>

<div class="mb-3" >
<form action="{% url 'todo_create' %}" method="POST">
    {% csrf_token %}
    
<table > 
    {{form.as_table}} 
</table>
<div class="btn-wrapper">

<input type="submit" value="Enviar " class="btn-send" />
</div>
</form>
</div>
{% endblock  %}
