{% extends 'layout/base.html' %}

{%block 'title'%} Inicio {%endblock%}

{% block 'content' %}
<div class="container-sm">
        
             <div class="col-sm-12">
                <h1 class="saludo"> Bienvenido a tu gestor personal </h1>

                 <div class="cards">
                           
                    <div class="text-center">
                                <a href="{% url 'contacto' %}"class="card" title="Contactos "> <img src="static\img\pngwing.com.png" class="card" alt="..."> </a>
                     </div>
                            
                     <a href="{% url 'todo' %}"class="card" title="Tareas "> <img src="static\img\notas.png" class="card" alt="..."></a>
                                                                        
                </div>
            </div>
        

 </div>
{%endblock%}

    